@page "/hola"
@using System.ComponentModel.DataAnnotations
@using System.Net.Http




<h1>Hola</h1>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p>@ErrorMessage</p>
    <p>@Exito</p>
}

<div>
    <p>Usuario: <input type="text" @bind="@Username" /></p>
</div>

<div>
    <p>Contraseña: <input type="text" @bind="@Password" /></p>
</div>

<button class="btn btn-primary" @onclick="Login">Iniciar sesión</button>

@code {
    private string Username { get; set; }
    private string Password { get; set; }
    private string ErrorMessage { get; set; }
    private string Exito { get; set; }
    private HttpClient HttpClient { get; set; }

    private async void Login()
    {
        try
        {
            using (var client = new HttpClient())
            {
                var url = $"http://apiservicios.ecuasolmovsa.com:3009/api/Usuarios?usuario=" + Username + "&password=" + Password;
                //var url = "http://apiservicios.ecuasolmovsa.com:3009/api/Varios/GetEmisor";
                var response = await client.GetAsync(url);


                if (response.IsSuccessStatusCode)
                {
                    //await MessageBox.Show("Este es un mensaje de ejemplo");
                    Exito = "Exitoso";

                }

                else
                {
                    // Manejar la respuesta de error de la API según sea necesario
                    ErrorMessage = "Error en la solicitud";
                }
            }
        }
        catch (HttpRequestException ex)
        {
            ErrorMessage = "Se produjo un error en la solicitud: " + ex.Message;
            Console.WriteLine(ex.ToString());
            //await JSRuntime.InvokeVoidAsync("alert", "¡Fallo al iniciar sesión! Razón: " + ex.Message);
        }
    }
}

